body {
    position: relative;
    background-color: #CAEBF2;
    padding-top: 80px;
}

.jumbotron {
    background-color: #EFEFEF;
}

#myPicture {
    transform: scale(1.7);
    max-height: 160px;
    margin: 0 auto;
    top: 8px;
    position: relative;
}

.thumbnail {
    background-color: #FF383F;
    box-shadow: 5px 5px 10px #A9A9A9;
}

.caption {
    color: white !important;
}

.navbar {
    background-color: #FF383F;
}

.navbar a {
    color: #EFEFEF !important;
}

.active a {
    background-color: #cc050c !important;
    color: #fff !important;
}

.fa:before {
    font-size: 50px;
}

a .fa-github-square {
    color: #6e5494;
}

a:hover .fa-github-square {
    color: #5d4383;
}

a:active .fa-github-square {
    position: relative;
    top: 1px;
}

a .fa-linkedin-square {
    color: #0077b5;
}

a:hover .fa-linkedin-square {
    color: #0066a4;
}

a:active .fa-linkedin-square {
    position: relative;
    top: 1px;
}

hr {
    border: solid 1px #A9A9A9;
    width: 55%;
    margin-bottom: 2em;
}

.thumbnail a:hover {
    text-decoration: none;
}

form {
    margin: 40px 0;
}

@media only screen and (max-width: 992px) {
    #myPicture {
        transform: scale(1.3);
        max-height: 160px;
    }
}
